$brandColor: #cc6200;
$brandBackColor: #0e2e3c;
$cardColor: #f2f2f2;
$shadow: 0px 0px 20px black;

.messDetailsContainer {
  background-color: $cardColor;
  nav {
    padding: 10px 20px;
    background-color: $brandBackColor;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: 0;
  }
  .name-rating {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .mess-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    .mess {
      padding: 40px;
      box-shadow: $shadow;
      border-radius: 10px;
      font-size: 20px;
      width: 40vw;
      height: 30vh;

      h3 {
        margin-bottom: 5px;
        font-size: 30px;
      }
      p {
        margin-bottom: 5px;
      }
    }
    .plans {
      padding: 47px;
      box-shadow: $shadow;
      border-radius: 10px;
      font-size: 20px;
      width: 40vw;
      height: 30vh;
      h3 {
        margin-bottom: 5px;
        font-size: 30px;
      }
      .plan {
        margin-bottom: 20px;
        h4 {
          text-decoration: underline;
          font-size: 23px;
        }
        .cost {
          color: #cc6200;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 3px;
          margin-top: 5px;
        }
        .meal {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 3px;
        }
      }
    }
  }
  .rating-system-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;

    .givebtn {
      padding: 10px 20px;
      background-color: $brandBackColor;
      color: white;
      border-radius: 10px;
      margin: 10px;
      cursor: pointer;
      border: none;
      &:hover {
        background-color: $brandColor;
      }
    }
    .ratingform {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      gap: 10px;
      .email-star {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        input {
          padding: 5px;
          border-radius: 10px;
          width: 200px;
        }
        select {
          padding: 5px;
          border-radius: 10px;
        }
      }
      textarea {
        border-radius: 10px;
        padding: 7px;
      }
      button {
        padding: 10px 20px;
        background-color: $brandBackColor;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        border: none;
      }
    }
  }

  .all-reviews {
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .review {
      display: flex;
      padding: 20px;
      box-shadow: $shadow;
      flex: 0 0 20%;
      border-radius: 10px;
      flex-direction: column;
      gap: 10px;
      flex: 0 0 20%;
    }
  }
  .footer {
    background-color: $brandBackColor;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .messDetailsContainer {
    .mess-info {
      flex-direction: column;
      .mess {
        width: 90vw;
      }
      .plans {
        width: 90vw;
      }
    }
  }
}
