$brandColor: #cc6200;
$brandBackColor: #0e2e3c;
.navbarContainer {
  nav {
    padding: 10px 20px;
    background-color: $brandBackColor;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .logo {
      width: 120px;
      font-size: 30px;
    }
    .user-pic {
      width: 40px;
      border-radius: 50%;
      border: 2px solid white;
      cursor: pointer;
    }
    ul {
      width: 100%;
      text-align: right;
      li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
      }
    }
    .sub-menu-wrap {
      color: white;
      position: absolute;
      box-shadow: 0px 2px 16px black;
      top: 110%;
      right: 1%;
      overflow: hidden;
      transition: max-height 0.5s;
      border-radius: 10px;
      .sub-menu {
        background-color: rgb(65, 66, 66);
        padding: 15px;
        .user-info {
          display: flex;
          align-items: center;
          h3 {
            font-weight: 500;
            color: white;
          }
          img {
            width: 40px;
            border-radius: 50%;
            border: 2px solid white;
            margin-right: 5px;
          }
        }
        hr {
          border: none;
          height: 3px;
          width: 100%;
          background: #ccc;
          margin: 15px 0 10px;
        }
        .sub-menu-links {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;
          margin: 12px 0px;
          font-size: 20px;
          gap: 10px;
          i {
            margin-top: 2px;
          }
        }
        .sub-menu-links:hover {
          background-color: rgb(95, 95, 46);
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navbarContainer {
    nav {
      .sub-menu-wrap {
        .sub-menu {
          padding: 5px;
          .user-info {
            h3 {
              font-size: 16px;
            }
            img {
              width: 30px;
            }
          }
          hr {
            height: 2px;
          }
          .sub-menu-links {
            margin: 12px 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
