.userDashboard {
  .userDashboardSidebar {
    position: fixed;
    overflow-x: hidden;
    padding: 5px;
    width: 20%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    nav {
      display: flex;
      #menu {
        display: none;
      }
      .menu-btn {
        font-size: 30px;
        margin-right: 5px;
        cursor: pointer;
      }
      h2 {
        cursor: pointer;
      }
    }
    .link-sections {
      margin-top: 3rem;

      ul {
        list-style: none;
        .active {
          background-color: rgb(78, 72, 72);
        }
        li {
          display: flex;
          gap: 10px;
          font-size: 20px;
          margin-bottom: 30px;
          cursor: pointer;
          padding: 5px;
          transition: all 0.3s ease;
          &:hover {
            background-color: rgb(78, 72, 72);
          }
        }
      }
    }
    .logout {
      padding: 9px;
      background-color: rgb(78, 72, 72);
      color: white;
      margin-left: 4px;
      width: 50%;
      cursor: pointer;
      margin-top: 27rem;
      &:hover {
        background-color: #8a8686;
      }
    }
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
    .Navbar {
      position: fixed;
      z-index: 1;
      width: 80%;
      height: 2.8rem;
      display: flex;
      justify-content: space-between;
      background-color: black;
      color: white;
      .mess-name {
        margin: 8px 10px;
      }
      .user-profile {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #999;
        margin-right: 20px;
        border: 1px solid white;
        margin: 8px 10px;
      }
    }
  }
}
