$brandColor: #cc6200;
$brandBackColor: #0e2e3c;

.userDashboardContainer {
  display: flex;
  flex-direction: column;
  .dashboard-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .stats {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      gap: 40px;
      .total {
        align-items: center;
        box-shadow: 1px 1px 20px $brandBackColor;
        border-radius: 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 15rem;
        height: 10rem;
        background-color: rgb(251, 251, 251);
      }
    }
    .all-buttons {
      display: flex;
      gap: 20px;
      justify-content: center;
      padding: 50px 50px;
      box-shadow: 1px 1px 20px $brandBackColor;
      border-radius: 10px;
      button {
        padding: 10px 15px;
        background-color: $brandBackColor;
        border: none;
        width: 10rem;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          box-shadow: 1px 1px 10px $brandBackColor;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .dashboard-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .stats {
      flex-direction: column;
      .total {
        align-items: center;
        box-shadow: 0px 2px 17px black;
        border-radius: 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 15rem;
        height: 10rem;
        background-color: rgb(251, 251, 251);
      }
    }
    .all-buttons {
      flex-direction: column;
    }
    .userDImg {
      width: 500px;
    }
  }
}
