.userDashboardNavbar {
  display: flex;
  flex-direction: column;
  flex: 9;
  width: 100vw;
  .Navbar {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 2.8rem;
    .mess-name {
      margin: 8px 10px;
    }
    .user-profile {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #999;
      margin-right: 20px;
      border: 1px solid white;
      margin: 8px 10px;
    }
  }
}
